<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfJwtPhpUnitPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Supercharged PHPUnit integration with Symfony projects</summary>
  <description>
sfJwtPhpUnitPlugin ("JPUP") is a powerful solution for integrating PHPUnit into
  your Symfony 1.4 project.

JPUP boasts robust database handling, unlimited extensibility over Symfony's
  sfBrowser class for functional testing and user-friendly tasks for generating
  and running tests.
  </description>
  <lead>
    <name>Phoenix Zerin &lt;phoenix.zerin@jwt.com&gt;</name>
    <user>phoenix_jwt</user>
    <email>phoenix.zerin@jwt.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="https://github.com/JWT-OSS/sfJwtPhpUnitPlugin/blob/master/LICENSE">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.4.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease />
  <changelog>
  <release>
   <version>
    <release>1.0.7</release>
    <api>1.0.4</api>
   </version>
   <notes>
- Resolved [#19]: Need a changelog.
- Resolved [#6]: Remove MySQL dependency.
- [#3]: Added `--plugin` option to runner tasks (generators still outstanding).
- Added `Test_Browser-&gt;signin()`.
- Empty `--filter` value no longer breaks PHPUnit.
- Added error/status code to `assertStatusCode()` failure message.
- Added `sf_fixture_dir` `sfConfig` value (needs documentation).
- Added `__toString()` handler to `Test_ObjectWrapper`.
- Convert parameters to strings before sending them to `sfBrowser-&gt;call()`.
- Fixed typos in skeleton test case files.
- Minor documentation updates.
   </notes>
   <date>2011-07-29</date>
   <time>14:44:36</time>
   <stability>
    <release>stable</release>
    <api>stable</api>
   </stability>
   <license uri="https://github.com/JWT-OSS/sfJwtPhpUnitPlugin/blob/1.0.4/LICENSE">MIT license</license>
  </release>
  <release>
   <version>
    <release>1.0.6</release>
    <api>1.0.3</api>
   </version>
   <notes>
Changed baseinstalldir for root directory in package.xml..
   </notes>
   <date>2011-05-17</date>
   <time>16:07::00</time>
   <stability>
    <release>stable</release>
    <api>stable</api>
   </stability>
   <license uri="https://github.com/JWT-OSS/sfJwtPhpUnitPlugin/blob/1.0.3/LICENSE">MIT license</license>
  </release>
  <release>
   <version>
    <release>1.0.3</release>
    <api>1.0.0</api>
   </version>
   <notes>
Official Symfony plugin stable release.
   </notes>
   <date>2011-05-17</date>
   <time>00:00:00</time>
   <stability>
    <release>stable</release>
    <api>stable</api>
   </stability>
   <license uri="https://github.com/JWT-OSS/sfJwtPhpUnitPlugin/blob/1.0.0/LICENSE">MIT license</license>
  </release>
 </changelog>
</package>
